<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container text-center">
        <h1 class="display-4">Mes rendez-vous</h1>
        <p class="lead">Ici vous trouvez tous vos rendez-vous.</p>
    </div>
</div>
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Patient</th>
            <th scope="col">Email</th>
            <th scope="col">Télephone</th>
            <th scope="col">Date</th>
            <th scope="col">Paiment</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let appoi of appois'>
            <th scope="row">{{appoi.id_patient.nom | uppercase }} {{appoi.id_patient.prenom | uppercase}}</th>
            <td>{{appoi.id_patient.email }}</td>
            <td>{{appoi.id_patient.numtel }}</td>
            <td>{{appoi.date| date : 'medium' : '':'fr' }}</td>
            <td *ngIf='appoi.payed; else Nonpaid' class="text-center"><span class="badge badge-success">Payé</span></td>
            <ng-template #Nonpaid>
                <td class="text-center"><span class="badge badge-danger">Non payé</span></td>
            </ng-template>
        </tr>
    </tbody>
</table>
<div class="alert alert-warning text-center mt-2" *ngIf='!appois?.length'>
    Vous n'avez pas de rendez-vous pour le moment.
</div>