<div class="container mt-2">
    <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchSecretary" autocomplete="off"
            placeholder="Chercher une sécretaire . . .">
    </div>
    <!-- List all Secretaries -->
    <div class="row">
        <div class="col-md-3 col-sm-6 item" *ngFor="let secretary of secretaries | filter:searchSecretary">
            <div class="card item-card card-block" data-toggle="modal" data-target="#SecretaryModal"
                (click)="SecretaryInfo(secretary)">
                <img src="assets/secretaryy.png" alt="Photo of sunset">
                <h5 class="item-card-title mt-3 mb-3 text-center">{{secretary.nom | uppercase}}
                    {{secretary.prenom | uppercase}}</h5>
            </div>
            <!-- Modal Secretary -->
            <div class="modal fade" id="SecretaryModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true" *ngIf="mySecretary">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle ">{{mySecretary.nom | uppercase}}
                                {{mySecretary.prenom | uppercase}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><i class="fa fa fa-envelope-o"
                                        aria-hidden="true"></i>&nbsp;<b>Email : </b>{{mySecretary.email}}</li>
                                <li class="list-group-item" *ngIf='mySecretary.numtel'><i class="fa fa-phone"
                                        aria-hidden="true"></i>&nbsp;<b>Numéro de téléphone : </b>{{mySecretary.numtel}}
                                </li>
                            </ul>
                            <div *ngIf='mySecretary.id_doctor != null; else EmptyDoctor'>
                                <div class="alert alert-info mt-2 text-center" role="alert">
                                    Docteur associée
                                </div>
                                <li class="list-group-item"><i class="fa fa fa-user"
                                        aria-hidden="true "></i>&nbsp;<b>Nom et prénom :
                                    </b>Dr.{{mySecretary.id_doctor.nom}} {{mySecretary.id_doctor.prenom}}</li>
                                <li class="list-group-item"><i class="fa fa fa-envelope-o"
                                        aria-hidden="true "></i>&nbsp;<b>Email : </b>{{mySecretary.id_doctor.email}}
                                </li>
                            </div>
                            <ng-template #EmptyDoctor>
                                <div class="alert alert-danger mt-2 text-center" role="alert">
                                    Pas de docteur associé
                                </div>
                            </ng-template>
                        </div>
                        <div class="modal-footer" style="flex-direction: column;">
                            <button type="button" class="btn btn-outline-danger btn-block" data-toggle="collapse"
                                data-target="#collapseExample" aria-expanded="false"
                                aria-controls="collapseExample">Supprimer<i class="fa fa-trash ml-3"
                                    aria-hidden="true"></i></button>
                            <div class="collapse mt-3" id="collapseExample">
                                <div class="card card-body text-center">
                                    <h3>
                                        Voulez-vous vraiment supprimer cette sécretaire ??
                                    </h3>
                                    <hr>
                                    <div class="row">
                                        <div class="col-6"> <button class="btn btn-block btn-info"
                                                data-dismiss="modal">Annuler</button></div>
                                        <div class="col-6">
                                            <button type="button" (click)='deleteD(mySecretary._id)'
                                                class="col btn btn-block btn-outline-danger">Supprimer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal Secretary -->
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid mt-5" *ngIf="!secretaries?.length">
        <div class=" container ">
            <h1 class="display-4 ">Vous n'avez pas de secretaires</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid mt-5" *ngIf="!( secretaries | filter:searchSecretary)?.length && !emptyBool">
        <div class=" container ">
            <h1 class="display-4 ">Pas de secretaires suite à votre recherche . . . </h1>
        </div>
    </div>
    <!-- End List all Secretaries -->
</div>