#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.message-count {
    color: #fff;
    font-size: 10px;
    font-family: Arial, san-serif;
    font-weight: bold;
  }
  
  
  .badge {
    position: absolute;
    right: 0px;
    top: -5px;
    z-index: 10;
  }
  
  .messages img {
    width: 15px;
    height: auto;
  }
  
  .messages {
    width: 31px;
    height: 19px;
    background-image: url(https://i.imgur.com/aoXZqPc.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    /* margin: 15% 0 0 0; */
    position: absolute;
    right: 0;
    margin-right: 15%;
  }
  
  .badge {
    background: radial-gradient( 5px -9px, circle, white 8%, #ed2324 26px );
    background: -moz-radial-gradient( 5px -9px, circle, white 8%, #ed2324 26px );
    background: -ms-radial-gradient( 5px -9px, circle, white 8%, #ed2324 26px );
    background: -o-radial-gradient( 5px -9px, circle, white 8%, #ed2324 26px );
    background: -webkit-radial-gradient( 5px -9px, circle, white 8%, #ed2324 26px );
    background-color: #ed2324;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 5% 5%;
    position: relative;
    right: -5.8px;
    top: -9px;
    float: right;
    display: block;
  }
  
  .message-count {
    position: relative;
    display: block;
    font: bold 14px/13px Helvetica, Verdana, Tahoma;
    text-align: center;
    margin: 0;
    top: 2px;
  }