<div class="container mt-2">
    <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchSecretary" autocomplete="off" placeholder="Chercher une sécretaire . . .">
    </div>
    <!-- List all Secretaries -->
    <div class="container" *ngIf='myDoctor.id_secrt != null'>
        <hr>
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            <strong>Ma sécretaire</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="row mb-4">
            <div class="col-md-3 col-sm-6 item">
                <div class="card item-card card-block" data-toggle="modal" data-target="#ActualSecretary" (click)="SecretaryInfo(myDoctor.id_secrt)">
                    <img src="assets/secretaryy.png" alt="Photo of sunset">
                    <h5 class="item-card-title mt-3 mb-3 text-center">{{myDoctor.id_secrt.nom | uppercase}} {{myDoctor.id_secrt.prenom | uppercase}}</h5>
                </div>
            </div>
        </div>
        <hr>
         <!-- Modal Secretary -->
         <div class="modal fade" id="ActualSecretary" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle ">{{myDoctor.id_secrt.nom | uppercase}} {{myDoctor.id_secrt.nom | uppercase}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa fa-envelope-o" aria-hidden="true"></i>&nbsp;<b>Email : </b>{{myDoctor.id_secrt.email}}</li>
                            <li class="list-group-item" *ngIf='myDoctor.id_secrt.numtel'><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;<b>Numéro de téléphone : </b>{{myDoctor.id_secrt.numtel}}</li>
                        </ul>
    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" (click)='unhire(myDoctor.id_secrt._id,doc_id)' data-dismiss="modal">Désembaucher</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal Secretary -->
    </div>
  
    <div class="row">
        <div class="col-md-3 col-sm-6 item" *ngFor="let secretary of secretaries | filter:searchSecretary">
            <div class="card item-card card-block" data-toggle="modal" data-target="#SecretaryModal" (click)="SecretaryInfo(secretary)">
                <img src="assets/secretaryy.png" alt="Photo of sunset">
                <h5 class="item-card-title mt-3 mb-3 text-center">{{secretary.nom | uppercase}} {{secretary.prenom | uppercase}}</h5>
            </div>
            <!-- Modal Secretary -->
            <div class="modal fade" id="SecretaryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" *ngIf="mySecretary">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle ">{{mySecretary.nom | uppercase}} {{mySecretary.prenom | uppercase}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><i class="fa fa fa-envelope-o" aria-hidden="true"></i>&nbsp;<b>Email : </b>{{mySecretary.email}}</li>
                                <li class="list-group-item" *ngIf='mySecretary.numtel'><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;<b>Numéro de téléphone : </b>{{mySecretary.numtel}}</li>
                            </ul>
                            <div *ngIf='myDoctor.id_secrt != null && (myDoctor.id_secrt._id === mySecretary._id ) ; else EmptyDoctor'>
                                <div class="alert alert-info mt-2 text-center" role="alert">
                                    Docteur associée
                                </div>
                                <li class="list-group-item"><i class="fa fa fa-user" aria-hidden="true "></i>&nbsp;<b>Nom et prénom : </b>Dr.{{myDoctor.nom}} {{myDoctor.prenom}}</li>
                                <li class="list-group-item"><i class="fa fa fa-envelope-o" aria-hidden="true "></i>&nbsp;<b>Email : </b>{{myDoctor.email}}</li>
                            </div>
                            <ng-template #EmptyDoctor>
                                <div class="alert alert-danger mt-2 text-center" role="alert">
                                    Pas de docteur associée
                                </div>
                            </ng-template>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-success" (click)='hire(mySecretary._id,doc_id)' data-dismiss="modal" *ngIf='myDoctor.id_secrt == null'>Embaucher</button>
                            <div *ngIf='myDoctor.id_secrt != null && (myDoctor.id_secrt._id != mySecretary._id )' class="text-center">
                                <div class="text-danger">
                                    Veuillez désembaucher votre sécretaire actuelle pour embaucher une autre 
                                </div>
                            </div>
                            <button type="button" class="btn btn-outline-danger" (click)='unhire(mySecretary._id,doc_id)' data-dismiss="modal" *ngIf='myDoctor.id_secrt != null && (myDoctor.id_secrt._id === mySecretary._id )'>Désembaucher</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal Secretary -->
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid mt-5" *ngIf="!secretaries?.length">
        <div class=" container ">
            <h1 class="display-4 ">Il n' y a pas de sécretaires à embaucher pour le moments . . .</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid mt-2" *ngIf="!( secretaries | filter:searchSecretary)?.length && !emptyBool">
        <div class=" container ">
            <h1 class="display-4 ">Pas de secretaires suite à votre recherche . . . </h1>
        </div>
    </div>
    <!-- End List all Secretaries -->
</div>